# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/Servers
/.metadata
/RemoteSystemsTempFiles
/apache-tomcat-7.0.64
/db
db.properties
mie350webapp/build/classes/db/mie350_group08.ldb
mie350webapp/build/classes/db/mie350_group08.mdb
mie350webapp/src/db/mie350_group08.ldb
mie350webapp/src/db/mie350_group08.mdb
