@CHARSET "ISO-8859-1";

body {
  margin: 0;
  padding: 0;
}

#login-header {
  position: absolute;
  height: 363px;
  background-color: white;
}

#logo-container {
  position: absolute;
  top: 56px;
  left: 56px;
  width: 257px;
  height: 265px;
  border: 1px solid #bdbdbd;
  border-radius: 100%;
  overflow: hidden;
}

#logo {
/* 	width: 228px;
	height: 134px; */
	position: absolute;
left: 5.58%;
right: 5.58%;
top: 24.87%;
bottom: 24.62%;
background: url("../img/logo.png");
background-size: 100%;

}

#login-header h1 {
  position: absolute;
  width: 546px;
  height: 60px;
  left: 379px;
  top: 99px;

  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 72px;
  margin: 0;
}

#login-left {
  position: absolute;
  top: 363px;
  bottom: 0px;
  left: 0px;
  right: 50.1%;
  background-color: mediumaquamarine;
}

#login-right {
  position: absolute;
  top: 363px;
  bottom: 0px;
  left: 50.1%;
  right: 0px;
  background-color: mediumaquamarine;
}

#login-fields, #signup-fields {
  position: absolute;
  top: 36px;
  left: 113px;
}

#login-email,
#login-password,
#signup-name,
#signup-email,
#signup-password,
#confirm-password {
  position: absolute;
  color: white;
  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;
  border: none;
  border-bottom: 3px solid white;
  background-color: transparent;

  width: 590px;
}

#login-email.login-red, #login-password.login-red, 
#signup-email.login-red, #signup-name.login-red, #signup-password.login-red, #confirm-password.login-red {
	border-bottom: 3px solid red;
}

#invalid-login {
	position: absolute;
	color: red;
  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 25px;
  background-color: transparent;
  
  left: 113px;
  width: 590px;
  top: 280px;
}

#invalid-signin, #missing-name, #missing-email, #missing-password, #missing-confirm, #diff-confirm {
	position: absolute;
	color: red;
  	font-family: Abyssinica SIL;
  	font-style: normal;
  	font-weight: normal;
  	line-height: normal;
  	font-size: 22px;
  	background-color: transparent;
  
  	left: 113px;
  	width: 590px;
  	
  	display: none;
}

#invalid-signin {
	display: block;
}

#invalid-signin, #missing-email {
	top: 164px;
}

#missing-name {
	top: 81px;
}

#missing-password {
	top: 247px;
}

#missing-confirm, #diff-confirm {
	top: 332px;
}

#login-password {
  top: 73px;
}

#signup-email {
  top: 83px;
}

#signup-password {
  top: 166px;
}

#confirm-password {
  top: 249px;
}

#login-email::placeholder,
#login-password::placeholder,
#signup-name::placeholder,
#signup-email::placeholder,
#signup-password::placeholder,
#confirm-password::placeholder {
  color: white;
}

#login-email.login-red::placeholder,
#login-password.login-red::placeholder,
#signup-name.login-red::placeholder,
#signup-email.login-red::placeholder,
#signup-password.login-red::placeholder,
#confirm-password.login-red::placeholder {
	color: red;
}

#login-email:focus::placeholder,
#login-password:focus::placeholder,
#signup-name:focus::placeholder,
#signup-email:focus::placeholder,
#signup-password:focus::placeholder,
#confirm-password:focus::placeholder {
  color: transparent;
}

.login-btn {
  position: absolute;
  height: 73px;
  top: 161px;
  border: 3px solid #ffffff;

  border-radius: 25px;
  background: none;

  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;

  color: #ffffff;

  cursor: pointer;

  width: 215px;
}

.login-btn:hover {
	background-color: #3ec195;
}

.login-btn:active {
	background-color: #38ad86;
}

#signup-submit {
  position: absolute;
  height: 73px;
  top: 360px;
  border: 3px solid #ffffff;

  border-radius: 25px;
  background: none;

  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;

  color: #ffffff;

  cursor: pointer;

  width: 215px;
}

#signup-submit:hover, #login-forgot:hover {
	background-color: #3ec195;
}

#signup-submit:active, #login-forgot:active {
	background-color: #38ad86;
}

#login-forgot {
  left: 375px;
}

#login-right h1 {
  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;

  color: #ffffff;

  position: absolute;
  right: 80px;
  left: 65px;
  top: 36px;
  text-align: justify;
}

#login-create span {
  display: inline-block;
  border: 3px solid #ffffff;
  border-radius: 25px;

  text-align: center;
  padding: 7px 13px;

  cursor: pointer;
}

#login-create span:hover, #signin span:hover {
	background-color: #3ec195;
}

#login-create span:active, #signin span:active {
	background-color: #38ad86;
}

#signin span {
  display: block;
  border: 3px solid #ffffff;
  border-radius: 25px;

  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  padding: 17px 45px;
  margin: 5px;
  height: 29px;
  width: 99px;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  #login-email,
#login-password,
#signup-name,
#signup-email,
#signup-password,
#confirm-password {
  width: 475px;
  font-size: 40px;
}

#invalid-login, #invalid-signin, #missing-email, #missing-name, #missing-password, #missing-confirm, #diff-confirm {
	width: 475px;
}

#invalid-signin, #missing-email {
	top: 145px;
}

#missing-name {
	top: 73px;
}

#missing-password {
	top: 218px;
}

#missing-confirm, #diff-confirm {
	top: 290px;
}

#login-forgot {
  left: 260px;
}

#login-header {
  height: 200px;
}

#login-left, #login-right {
  top: 200px;
}

#logo-container {
  top: 12px;
  left: 30px;
  width: 175px;
  height: 175px;
}

#login-header h1 {
  left: 275px;
  top: 20px;
}

#login-right h1 {
  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;

  color: #ffffff;

  position: absolute;
  right: 80px;
  left: 65px;
  top: 36px;
  text-align: justify;
}

#signup-email {
	top: 73px;
}

#signup-password {
  top: 146px;
}

#confirm-password {
  top: 219px;
}

#signup-submit {
	top: 310px;
}

#invalid-signin {
	top: 145px;
}
}
