@CHARSET "ISO-8859-1";

/* This stylesheet has all relevant styles to the fixed top area */
/* Top area consists of white bar with the logo, website name, user's name and signout button and green area with search bar, categories, and cart button */

body {
  margin: 0;
  padding: 0;
  background-color: mediumaquamarine;
}

/* TOP AREA (for signing out, username, logo) */

#topbar {
  height: 201px;
  width: 100%;
  background-color: white;
  position: fixed;
}

#logo-container {
  border-radius: 100%;
  border: 3px solid black;
  width: 143px;
  height: 143px;

  position: absolute;
  top: 27px;
  left: 32px;
  
  overflow: hidden;
}

#logo {
/* 	width: 228px;
	height: 134px; */
	position: absolute;
left: 5.58%;
right: 5.58%;
top: 24.87%;
bottom: 24.62%;
background: url("../img/logo.png");
background-size: 100%;

}

#website-name {
  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 72px;

  margin: 0;

  position: absolute;
  top: 66px;
  left: 250px;
}

#signout-container {
  position: absolute;
  top: 12px;
  right: 15px;
}

#signout-btn {
  border: 3px solid #333333;
  border-radius: 25px;

  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;

  width: 222px;
  height: 63px;

  background-color: white;
}

#signout-btn:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

#signout-btn:active {
	background-color: #d9d9d9;
}

#user-name {
  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;

  margin: 0;
  position: absolute;
  bottom: 0;
  right: 15px;
}

/* GREEN NAVIGATION AREA (to look for items and shopping cart btn */

#navigation {
  position: fixed;
  width: 100%;
  height: 197px;
  background-color: mediumaquamrine;
  top: 201px;
  border-bottom: 3px solid white;
  
  z-index: 2;
}

#category-btns {
  position: absolute;
  margin: 0;
  bottom: 19px;
  padding: 0;
  left: 30px;
  right: 15px;
}

#category-btns li {
  display: inline-block;
  position: relative;
  height: 58px;
  width: 216px;
  border: 3px solid #ffffff;
  border-radius: 25px;

  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;

  color: #ffffff;
  
  background-color: mediumaquamarine;
}

#category-btns li + li {
	margin: 0 0 0 calc((100% - 6*222px)/5);
}

#category-btns li:hover {
  cursor: pointer;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#category-btns li span {
  position: relative;
  top: 12px;
  pointer-events: none;
}

#category-btns li i {
  position: absolute;
  font-size: 48px;
  right: 10px;
  top: 2.5px;
  pointer-events: none;
}

#item-search-container {
  background-color: blue;
  position: absolute;
  top: 30px;
  
  left: 30px;
  
  height: 58px;
  /* width: 684px; UX: 47.5%*/
  width: 46%;
  
  border-radius: 5px;
}

#item-search-bar {
  position: absolute;
  height: 100%;
  border: 0;
  padding: 0 10px;
  left: 0;
  
  width: calc(86% - 10px);
  
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;
}

/* this gets rid of the arrow */
#item-search-bar::-webkit-calendar-picker-indicator{
  opacity: 0;
}

#item-search-btn {
  padding: 0;
  margin: 0;
  height: 100%;
  /*width: 83px;*/
  width: 14%;
  position: absolute;
  right: 0;
  
  border: 0;
  border-left: 3px solid mediumaquamarine;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  background-color: white;
  
}

#item-search-btn:hover {
  cursor: pointer;
  
  background-color: #f2f2f2;
}

#item-search-btn:active {
	background-color: #d9d9d9;
}

#item-search-btn i {
  font-size: 48px;
  color: mediumaquamarine;
}

#cart-btn {
  position: absolute;
  border: 3px solid #FFFFFF;
  border-radius: 25px;
  
  height: 82px;
  width: 222px; /* for now? */
  top: 14px;
  right: 15px;
  
  background-color: mediumaquamarine;
  
}

#cart-btn:hover {
  cursor: pointer;
  background-color: #3ec195;
}

#cart-btn:active {
	background-color: #38ad86;
}

#cart-btn i {
  font-size: 64px;
  color: white;
}

#cart-btn span {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 100%;
  color: white;
  right: 70px;
  top: 0px;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: 0;
  
  pointer-events: none;
  
  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
}

.category-dropdown-container {
  position: absolute;
  top: calc(100% + 3px);
  left: -3px;
  width: calc(100% + 6px);
  /* height?? max height? */

  background-color: white;
  display: none;
}

.category-dropdown {
  position: relative;
  background-color: grey;
  height: 58px;
  

}

.category-dropdown-content {
  height: 100%;
  width: 100%;
  background-color: white;
  border: none;
  
  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;

  color: black;
  
  cursor: pointer;
}

.category-dropdown-content:hover {
  background-color: lightgrey;
}

#category-btns li:hover .category-dropdown-container {
  display: block;
}

@media screen and (max-width:1400px) {
  #category-btns li {

  width: 160px;

}

#category-btns li + li {
	margin: 0 0 0 calc((100% - 6*166px)/5);
}

#category-btns li i {
  font-size: 36px;
  right: 5px;
  top: 8.5px;
}

#cart-btn, #signout-btn {
  width: 166px; /* for now? */
}

#cart-btn span {
  right: 40px;
}


#topbar {
  height: 87px;
}

#logo-container {
  border-radius: 100%;
  border: 3px solid black;
  width: 63px;
  height: 63px;

  position: absolute;
  top: 9px;
  left: 30px;
}

#website-name {
  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 72px;

  margin: 0;

  position: absolute;
  top: 0px;
  left: 150px;
}

#user-name {
  display: none;
}

#navigation {
  top: 87px;
}

}