@CHARSET "ISO-8859-1";

body {
  margin: 0;
  padding: 0;
  background-color: mediumaquamarine;
}

#topbar {
  height: 201px;
  width: 100%;
  background-color: white;
  position: fixed;
}

#logo-container {
  border-radius: 100%;
  border: 3px solid black;
  width: 143px;
  height: 143px;

  position: absolute;
  top: 27px;
  left: 32px;
}

#website-name {
  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 72px;
  
  margin: 0;
  
  position: absolute;
  top: 66px;
  left: 250px;
  
}

#signout-container {
  position: absolute;
  top: 12px;
  right: 6px;
  
}

#signout-btn {
  border: 3px solid #333333;
  border-radius: 25px;

  font-family: Abyssinica SIL;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;

  width: 205px;
  height: 63px;

  background-color: white;
}

#signout-btn:hover {
	cursor: pointer;
}

#user-name {
  font-family: Abyssinica SIL;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 48px;
  
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 6px;
}