@CHARSET "ISO-8859-1";


#empty-message {
  font-family: Abyssinica SIL;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;
  
  color: white;
  
  position: absolute;
  margin: 0;
  padding: 0;
  
  top: 23px;
  left: 45px;
  right: 45px;
}